@model GameModel
@{
    ViewData["Title"] = "GameBoard";
}

<h2>@Model.GameName</h2>


<button onclick="RollDie()">Roll Die</button>


   

    @foreach (PlayerModel player in Model.Players)
    {
        if (player.TurnOrder == Model.CurrentTurn)
        {
            <script>
                document.getElementById("@player.Name btn").style.hidden = false;
            </script>
        }
        else
        {
            <script>
                document.getElementById("@player.Name btn").style.hidden = true;
            </script>
        }

    }


@foreach (PlayerModel player in Model.Players)
{

    <h4>@player.Name</h4>
    
        foreach (PieceModel piece in player.Pieces)
        {
         <button id="@player.Name btn">@piece.Id , Position: @piece.Position </button>
        }
}

<script>

    var currentPlayer = "@ViewBag.Player";

    function RollDie() {

           var xhr = new XMLHttpRequest();
           var url = "https://localhost:44397/game/AddPlayer";
           xhr.open('POST', url, true);

           xhr.setRequestHeader("Content-Type", "application/json");


           var playername = $(currentPlayer).val();
           var gamename = "@Model.GameName";

           xhr.send(JSON.stringify({ PlayerName: playername, GameName: gamename }));

           setTimeout(function () { window.location.reload() }, 3000);
    };

</script>


