@model GameModel
@{
    ViewData["Title"] = "GameBoard";
}

<h2>@Model.GameName</h2>

<h2></h2>

<button id="RollBtn" onclick="RollDie()">Roll Die</button> <br />
<h3 id="RollResult">No Rolls Has been Made</h3>

<h1>"@ViewBag.Player"</h1>

    

    @Model.Players.Where(player => player.TurnOrder == Model.CurrentTurn).First();

    @if (ViewBag.Player == Model.Players.Where(player => player.TurnOrder == Model.CurrentTurn).First().Name)
    {
        <script>
            document.getElementById("RollBtn").style.hidden = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("RollBtn").style.hidden = false;
        </script>
    }

    @foreach (PlayerModel player in Model.Players)
    {

        <h4>@player.Name</h4>

        foreach (PieceModel piece in player.Pieces)
        {

            <h5>ID: @piece.Id , Position: @piece.Position </h5>
            <button id="@player.Name @piece.Id btn" onclick="MovePiece(@piece.Id)">@player.Name</button>
        }
    }

    @foreach (PlayerModel player in Model.Players)
    {
        if (player.TurnOrder == Model.CurrentTurn && player.Name == ViewBag.Player)
        {
            <script>
                document.getElementById("@player.Name btn").style.hidden = false;
            </script>
        }
        else
        {
            <script>
                document.getElementById("@player.Name btn").style.hidden = true;
            </script>
        }

    }

    


    <script>
    function RollDie() {
        $.ajax({
            url: "/Game/RollDie",
            type: "POST",
            data: JSON.stringify({ GameName: "@Model.GameName", PlayerName: "@ViewBag.Player"  }), //  FirstPlayer is the only client making calls, CHANGE TO ViewBag.Player When Testing Sessions
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert(data);

            }
        });

        GetGameData();
        }

 

        function MovePiece(pieceId) {
            $.ajax({
            url: "/Game/MovePiece",
                type: "POST",
                data: JSON.stringify({ GameName: "@Model.GameName", PlayerName: "@ViewBag.Player", PieceId: pieceId }), // Same story here
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert(data);
            }
            });

            GetGameData();
        }

        function GetGameData() {
            $.ajax({
            url: "/Game/GetGameModel?gameName="+"@Model.GameName",
                type: "GET",
            contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data);

                    var Object = JSON.parse(data);
                }
               
                
                
            });
        }


    </script>


