@model GameModel

@{
    ViewData["Title"] = "Lobby";
    Layout = "_Layout";
}

<h2>Lobby</h2>


<h4>@Model.GameName</h4>

@for (int i = 0; i < 4; i++)
{
    @if (Model.Players.Count() - 1 >= i)
    {
        <h1>@Model.Players[i].Name</h1> <br />
    }
}


<textarea id="textArea"></textarea>

@if (ViewBag.Player == "" || ViewBag.Player == null)
{
<button id="Hellobutton" onclick="aFunction()">Join Game</button>
}


@if ((ViewBag.Player != null && ViewBag.Player != "") && Model.Players.Where(x => x.Name == ViewBag.Player).First().TurnOrder == 1)
{
<button id="StartButton" onclick="StartGame()">Start Game</button>
}


<script>

   
    
    function aFunction() {
        var playername = $("#textArea").val();
        var gamename = "@Model.GameName";

        $.ajax({
            url: "/Game/AddPlayer",
            type: "POST",
            data: JSON.stringify({ PlayerName: playername, GameName: gamename }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.reload(true);
            }
        });
    }

    function StartGame() {
        var gamename = "@Model.GameName";
        $.ajax({
            url: "/Game/StartGame",
            type: "POST",
            data: JSON.stringify({ PlayerName: "@ViewBag.Player", GameName: gamename }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.reload(true);
            }
        });
    }

    window.setInterval(function () { location.reload(); }, 7000);

    
    
</script>










